{varType App\Model\Entities\Product[] $products}
{varType App\Model\Entities\Category[] $categories}
{varType App\Model\Entities\ProductPhoto[] $photos}
{varType App\Model\Entities\Category $currentCategory}
{varType int $dropDown}
{block content}
    <div>
        <h2>Kategorie</h2>
        <div class="container">
            <div class="row">
                <div class="col-10 pl-0">
                    <a href="{link default}"><button type="button" class="btn btn-info mr-2 mt-1">Zpět na hlavní stránku</button></a>
                    {foreach $categories as $category}
                        {if $currentCategory->categoryId == $category->categoryId}
                            <a href="{link category id=>$category->categoryId}"><button type="button" class="btn btn-primary mr-2 mt-1">{$category->title}</button></a>
                        {else}
                            <a href="{link category id=>$category->categoryId}"><button type="button" class="btn btn-outline-primary mr-2 mt-1">{$category->title}</button></a>
                        {/if}
                    {/foreach}
                </div>
                <div class="col-2 text-right pr-0">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Řazení
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item {if $dropDown == null}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>null, order=>null}">Neseřazeno</a>
                            <a class="dropdown-item {if $dropDown == 'title asc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'title', order=>'asc'}">Název (A až Z)</a>
                            <a class="dropdown-item {if $dropDown == 'title desc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'title', order=>'desc'}">Název (Z až A)</a>
                            <a class="dropdown-item {if $dropDown == 'ram asc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'ram', order=>'asc'}">Úložiště (od nejmenšího)</a>
                            <a class="dropdown-item {if $dropDown == 'ram desc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'ram', order=>'desc'}">Úložiště (od největšího)</a>
                            <a class="dropdown-item {if $dropDown == 'price asc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'price', order=>'asc'}">Cena (od nejlevnějšího)</a>
                            <a class="dropdown-item {if $dropDown == 'price desc'}active{/if}" href="{link category id=>$currentCategory->categoryId, sort=>'price', order=>'desc'}">Cena (od nejdražšího)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row my-3">
                <div class="col-md-3 pl-0">
                    
                    TODO filtry
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {if !empty($products)}
                        {var $countProducts = count($products)}
                        {foreach $products as $product}
                            <div class="col-12 col-md-6 col-xl-4 border-1 rounded-0 card py-2">
                                <div class="p-4">
                                    <a class="btn" href="{plink Product:show url=>$product->url}">
                                        {foreach $photos as $photo}
                                            {if $photo->productId == $product->productId}
                                                {if $photo->isThumbnail == true}
                                                    <img src="{$basePath.'/img/products/'.$photo->productPhotoId.'.'.$photo->photoExtension}" alt="{$product->title}" class="d-block w-100">
                                                {/if}
                                            {/if}
                                        {/foreach}
                                    </a>
                                </div>

                                <div class="px-2">
                                    <div class="product-rating text-warning mb-2">
                                        <div>
                                            {var $countReviews = 0}
                                            {var $rating = 0.0}
                                            {var $productReview = 0.0}
                                            {foreach $reviews as $review}
                                                {if $review->productId == $product->productId}
                                                    {var $rating = $rating + $review->rating}
                                                    {var $countReviews = $countReviews + 1}
                                                {/if}
                                            {/foreach}
                                            {if $countReviews != 0}
                                                {var $productReview = (float)($rating / $countReviews)}
                                            {else}
                                                {var $productReview = 0.0}
                                            {/if}
                                            {for $i = 0; $i < 5; $i++}
                                                {if $productReview - $i >= 1}
                                                    <i class="fa-solid fa-star"></i>
                                                {elseif $productReview - $i < 1 && $productReview - $i > 0}
                                                    <i class="fa-solid fa-star-half-stroke"></i>
                                                {else}
                                                    <i class="fa-regular fa-star"></i>
                                                {/if}
                                            {/for}
                                            <span class="text-small text-secondary">{$countReviews}x</span>
                                        </div>
                                    </div>

                                    <h5 class="h6 product-title">{$product->title} {if $product->ram}<span>{$product->ram} GB</span>{/if} {if $product->color}<span>{$product->color}</span>{/if}</h5>

                                    <div class="text-small mt-2">
                                        {if $product->stock == 0 || $product->stock == null}
                                            <div class="text-danger">
                                                Není skladem
                                            </div>
                                        {elseif $product->stock <= 5}
                                            <div class="text-warning">
                                                Poslední kusy
                                            </div>
                                        {elseif $product->stock > 5}
                                            <div class="text-success">
                                                Skladem > 5 kusů
                                            </div>
                                        {/if}
                                    </div>

                                    <div class="my-3">
                                        {if $product->discount != null || $product->discount != 0}
                                            <div class="row">
                                                <div class="col-6 font-weight-bold h6 text-danger">{($product->price * (1-$product->discount))|number:0,',',' ' } Kč</div>
                                                <div class="col-6 font-weight-bold h6 text-right"><del>{$product->price|number:0,',',' '} Kč<del></div>
                                            </div>
                                        {else}
                                            <div class="font-weight-bold h6">{$product->price|number:0,',',' '} Kč</div>
                                        {/if}
                                    </div>
                                    <div class="row">
                                        <div class="col pr-0"><a href="{link Product:show url=>$product->url}"><button type="button" class="btn btn-block btn-outline-primary">Detaily</button></a></div>
                                        <div class="col-4">
                                            {control productCartForm-$product->productId}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                    {else}
                    <p class="text-muted">Nebyly nalezeny žádné produkty</p>
                    {/if}
                </div>
        {* <div class="col-12">
            {control pagination}
        </div> *}
            </div>
        </div>
    </div>
</div>

<style scoped>
.text-small {
    font-size: 0.8rem;
}

.product-rating {
    font-size: 1rem;
}

</style>