{varType App\Model\Entities\OrderDetail $order}   
{varType App\Model\Entities\Cart $cart}
{varType App\Model\Entities\Payment[] $payments}
{varType App\Model\Entities\Delivery[] $deliveries}

{var $totalWithoutDph = $cart->getTotalPrice() / 1.21}
{var $totalDph = $cart->getTotalPrice() - $totalWithoutDph}

{block content}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 pl-0">
            <form id="checkout-form" n:name=checkoutForm class="validation">
                <div id="accordion">
                    {if !$user->isLoggedIn()}
                        <div id="email" class="card border-0 shadow h6 text-small">
                            <div class="card-header" id="headingOne">
                                <div class="d-flex">
                                    <h5 class="mb-0">
                                        <button type="button"id="emailButton" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Emailová adresa
                                        </button>
                                    </h5>
                                    <button type="button" id="editButtonEmail" class="btn back-to-cart ml-auto d-none">upravit</button>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše emailová adresa?</label>
                                    <div class="form-group">
                                        <label class="h6 text-small mb-3 text-center">Pro pokračování jako host vyplňte svoji emailovou adresu. Nebo se <a href="{plink User:login}">přihlašte</a> do svého účtu.</label>
                                        <label n:name=email for="email">Emailová adresa</label>
                                        <input n:name=email type="email" class="form-control" id="email" required>
                                        <div class="invalid-feedback">
                                            Prosím vyplňte emailovou adresu.
                                        </div>
                                    </div>
                                    <div>
                                        <input type="button" id="emailSubmitButton" n:name=emailSubmitButton class="form-control btn btn-primary w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                    <div id="deliveryDiv" class="card border-0  shadow h6 text-small">
                        <div class="card-header" id="headingTwo">
                            <div class="d-flex">
                                <h5 class="mb-0">
                                    <button type="button" id="deliveryButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Způsob dopravy
                                    </button>
                                </h5>
                                <button type="button" id="editButtonDelivery" class="btn back-to-cart ml-auto d-none">upravit</button>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="h4 mb-3 mt-2 pb-2 pt-1" n:name="delivery:$key" for="delivery:$key">Jak chcete objednávku doručit?</label>

                                    {foreach $form[delivery]->getItems() as $key => $label}
                                        {foreach $deliveries as $delivery}
                                            {if $delivery->deliveryId == $key}
                                                {var $itemDelivery = $delivery}
                                            {/if}
                                        {/foreach}
                                        <div id="deliveryError" class="error-message d-none">Prosím vyberte způsob dopravy.</div>
                                        <label class="w-100 mb-1 p-4 border border-1 border-hover border-light rounded my-2">
                                            <div class="d-flex align-middle align-items-center">
                                                <input class="mr-4" type="radio" n:name="delivery:$key" id="delivery" data-value="{$itemDelivery->price}" required>
                                                <span class="mr-auto">
                                                    <div class="text-primary">{$label}</div>
                                                    <div class="text-small"><strong>Doručení do {$itemDelivery->deliveryTime} dnů</strong></div>
                                                </span>
                                                {if $cart->getTotalPrice() > 20000}
                                                    <div>
                                                        <p class="ml-auto text-muted text-small line-through">{$itemDelivery->price|number:0,',',' '} Kč</p>
                                                        <span class="ml-auto text-primary">zdarma</span>
                                                    </div>
                                                {else}
                                                    <span class="ml-auto text-primary">{$itemDelivery->price|number:0,',',' '} Kč</span>
                                                {/if}
                                            </div>
                                        </label>
                                    {/foreach}
                                </div>
                                <div>
                                    <input type="button" id="deliverySubmitButton"  n:name=deliverySubmitButton class="btn btn-primary w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="deliveryAddress" class="card border-0 shadow h6 text-small">
                        <div class="card-header" id="headingThree">
                            <div class="d-flex">
                                <h5 class="mb-0">
                                    <button type="button" id="deliveryAddressButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Doručovací adresa
                                    </button>
                                </h5>
                                <button type="button" id="editButtonDeliveryAddress" class="btn back-to-cart ml-auto d-none">upravit</button>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše doručovací adresa?</label>
                                <div class="form-group pb-2">
                                    <label n:name=delivery_name for="delivery_name">Jméno a přijmení</label>
                                    <input n:name=delivery_name type="text" class="form-control" id="delivery_name">
                                    <div class="invalid-feedback">
                                        Prosím vyplňte jméno a přijmení.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=delivery_street for="delivery_street">Ulice a číslo</label>
                                        <input n:name=delivery_street type="text" class="form-control" id="delivery_street" required>
                                        <div class="invalid-feedback">
                                            Prosím vyplňte ulici a číslo popisné.
                                        </div>
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=delivery_city for="delivery_city">Město</label>
                                        <input n:name=delivery_city type="city" class="form-control" id="delivery_city" required>
                                        <div class="invalid-feedback">
                                            Prosím vyplňte město.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=delivery_zip for="delivery_zip">PSČ</label>
                                        <input n:name=delivery_zip type="text" class="form-control" id="delivery_zip" placeholder="12345" required minlength="5">
                                        <div class="invalid-feedback">
                                            Prosím vyplňte poštovní směrovací číslo.
                                        </div>
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=delivery_phone for="delivery_phone">Telefon</label>
                                        <input n:name=delivery_phone type="tel" class="form-control" id="delivery_phone" required minlength="9">
                                        <div class="invalid-feedback">
                                            Prosím vyplňte telefonní číslo.
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-middle align-items-center pb-4">
                                    <input class="mr-2" type="checkbox"  n:name="sameAsBilling" id="sameAsBilling">
                                    <label class="form-check-label" for="sameAsBilling">
                                        Fakturační adresa je stejná jako doručovací
                                    </label>
                                </div>
                                
                                <div>
                                    <input type="button" id="deliveryAddressSubmitButton" n:name=deliveryAddressSubmitButton class="btn btn-primary w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 shadow h6 text-small" id="billingAddress">
                        <div class="card-header" id="headingThree">
                            <div class="d-flex">
                                <h5 class="mb-0">
                                    <button type="button" id="billingAddressButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Fakturační adresa
                                    </button>
                                </h5>
                                <button type="button" id="editButtonBillingAddress" class="btn back-to-cart ml-auto d-none">upravit</button>
                            </div>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše fakturační adresa?</label>
                                <div class="form-group pb-2">
                                    <label n:name=billing_name for="billing_name">Jméno a přijmení</label>
                                    <input n:name=billing_name type="text" class="form-control" id="billing_name" required>
                                    <div class="invalid-feedback">
                                        Prosím vyplňte jméno a přijmení.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=billing_street for="billing_street">Ulice a číslo</label>
                                        <input n:name=billing_street type="text" class="form-control" id="billing_street" required>
                                        <div class="invalid-feedback">
                                            Prosím vyplňte ulice a číslo popisné.
                                        </div>
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=billing_city for="city">Město</label>
                                        <input n:name=billing_city type="city" class="form-control" id="billing_city" required>
                                        <div class="invalid-feedback">
                                            Prosím vyplňte město.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=billing_zip for="billing_zip">PSČ</label>
                                        <input n:name=billing_zip type="text" class="form-control" id="billing_zip" placeholder="12345" required minlength="5">
                                        <div class="invalid-feedback">
                                            Prosím vyplňte poštovní směrovací číslo.
                                        </div>
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=billing_phone for="billing_phone">Telefon</label>
                                        <input n:name=billing_phone type="tel" class="form-control" id="billing_phone" required minlength="9">
                                        <div class="invalid-feedback">
                                            Prosím vyplňte telefonní číslo.
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <input type="button" id="billingAddressSubmitButton" n:name=billingAddressSubmitButton class="btn btn-primary w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="paymentDiv" class="card border-0 shadow h6">
                        <div class="card-header" id="headingThree">
                            <div class="d-flex">
                                <h5 class="mb-0">
                                    <button type="button" id="paymentButton"class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Platební metoda
                                    </button>
                                </h5>
                                <button type="button" id="editButtonPayment" class="btn back-to-cart ml-auto d-none">upravit</button>
                            </div>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <label class="h4 mb-3 mt-2 pb-2 pt-1" n:name="payment:$key" for="payment:$key">Jak budete platit?</label>

                                {foreach $form[payment]->getItems() as $key => $label}
                                    {foreach $payments as $payment}
                                        {if $payment->paymentId == $key}
                                            {var $itemPayment = $payment}
                                        {/if}
                                    {/foreach}
                                    <div id="paymentError" class="error-message d-none">Prosím vyberte způsob platby.</div>
                                    <label class="w-100 mb-1 p-4 border border-1 border-hover border-light rounded my-2">
                                            <div class="d-flex align-middle align-items-center">
                                                <input class="mr-4" type="radio" n:name="payment:$key" id="payment" data-value="{$itemPayment->price}">
                                                <span class="mr-auto">
                                                    <div class="text-primary">{$label}</div>
                                                </span>
                                                <span class="ml-auto text-primary">{$itemPayment->price|number:0,',',' '} Kč</span>
                                            </div>
                                    </label>
                                {/foreach}
                                <div class="mt-2">
                                    <input type="submit" id="paymentSubmitButton" n:name=paymentSubmitButton class="btn btn-primary w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
           
        <div class="col-12 col-md-4 shadow">
            <div class="d-flex flex-row py-4">
                <div class="d-flex table-row mr-auto h4 font-weight-bold">Shrnutí</div>
                <a class="d-flex table-row h6 back-to-cart align-items-center text-right" href="{plink Cart:default}">Zpět do košíku</a>
            </div>
            {foreach $cart->items as $item}
                <div class="d-flex flex-row py-2">
                    <div class="d-flex col-2">
                        {if count($item->product->photos) == 0}
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="{$basePath.'/img/products/placeholder.png'}" alt="placeholder" class="d-block w-100">
                            </div>
                        {/if}
                        {foreach $item->product->photos as $photo}
                            {if $photo->isThumbnail}
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="{$basePath.'/img/products/'.$photo->productPhotoId.'.'.$photo->photoExtension}" alt="{$item->product->title}" class="d-block w-100">
                                </div>
                            {/if}
                        {/foreach}
                    </div>
                    <div class="d-flex col-5 align-items-center">
                        <div class="h6 title mb-0">{$item->product->title} {$item->product->ram} GB {$item->product->color}</div>
                    </div>
                    <div class="d-flex col-5 align-items-center justify-content-end">
                        <div class="h6 mb-0 font-weight-bold justify-content-end">
                            {if $item->count > 1}
                                {$item->count} * 
                            {/if}
                            {if $item->product->discount != null || $item->product->discount != 0}
                                {($item->product->price * (1-$item->product->discount))|number:0,',',' ' } Kč
                            {else}
                                {$item->product->price|number:0,',',' '} Kč
                            {/if}
                        </div>
                    </div>
                </div>
                <hr />
            {/foreach}
            <table class="h6 table table-borderless">
                <tbody class="body-font-size">
                    <tr>
                        <td class="col-8">Doprava</td>
                        <td class="col-4 text-right"><span id="deliveryPrice">0</span> Kč</td>
                    </tr>
                    <tr>
                        <td class="col-8">Platba</td>
                        <td class="col-4 text-right"><span id="paymentPrice">0</span> Kč</td>
                    </tr>
                    <tr>
                        <td class="col-8">DPH</td>
                        <td class="col-4 text-right"><span id="dph">{$totalDph|number:0,',',' '}</span> Kč</td>
                    </tr>
                    <tr>
                        <td class="col-8">Celkem (bez DPH)</td>
                        <td class="col-4 text-right"><span id="totalWithoutDph">{$totalWithoutDph|number:0,',',' '}</span> Kč</td>
                    </tr>
                </tbody>
            </table>
            <table class="table pt-2 mb-0 h5">
                <tbody class="body-font-size">
                    <tr>
                        <td class="py-4 col-8"><strong>Cena objednávky s DPH<strong></td>
                        <td class="py-4 col-4 text-right"><strong><span id="total">{$cart->getTotalPrice()|number:0,',',' '}</span> Kč<strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style scoped>
.back-to-cart {
    text-decoration:none !important;
    font-size: 13px !important;
}

.border-1 {
    border-width:2px !important;
    border-color: #f0f0f0 !important;
}

.focused {
    border-color: #0275d8 !important;
}

.border-hover:hover {
    border-color:#dedede !important;
}

.text-small {
    font-size: 14px;
}

.title {
    font-size: 14px;
}

.table-row {
    padding: 0.75rem;
}

.line-through {
    font-size: 12px;
    text-decoration: line-through;
}

input::placeholder {
    color: #c7c7c7 !important;
}

.error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

label.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.valid-input {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.success-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}

.body-font-size {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .body-font-size {
        font-size: 0.85rem;
    }
}

</style>

<script scoped>

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            if (($("input[name='delivery']:checked")).val() == undefined) {
                $("#deliveryError").removeClass("d-none");
                $("#deliveryError").addClass("error-message");
            }
            if (($("input[name='payment']:checked")).val() == undefined) {
                $("#paymentError").removeClass("d-none");
                $("#paymentError").addClass("error-message");
            }
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

$(document).ready(function() {
    $("#emailSubmitButton").on("click",function(){
        if ($('input[name="email"]').valid()) {
            $("#deliveryButton").click();
            $("#editButtonEmail").removeClass("d-none");
        }
    });

    $("#deliverySubmitButton").on("click",function(){
        if ($("input[name='delivery']:checked").val() == undefined) {
            $("#deliveryError").removeClass("d-none");
        } else {
            $("#deliveryAddressButton").click();
            $("#editButtonDelivery").removeClass("d-none");
        }
    });

    $("#deliveryAddressSubmitButton").on("click",function(){
        var deliveryAddressValid = true;
        if (!$('input[name="delivery_name"]').valid()) {
            deliveryAddressValid = false;
        }
        if (!$('input[name="delivery_street"]').valid()) {
            deliveryAddressValid = false;
        }
        if (!$('input[name="delivery_city"]').valid()) {
            deliveryAddressValid = false;
        }
        if (!$('input[name="delivery_zip"]').valid()) {
            deliveryAddressValid = false;
        }
        if (!$('input[name="delivery_phone"]').valid()) {
            deliveryAddressValid = false;
        }
        if (deliveryAddressValid) {
            if ($("#sameAsBilling").is(":checked")) {
                $("#paymentButton").click();
            } else {
                $("#billingAddressButton").click();
                $("#editButtonDeliveryAddress").removeClass("d-none");
            }
        }
       
    });

    $("#billingAddressSubmitButton").on("click",function(){
        var billingAddressValid = true;
        if (!$('input[name="billing_name"]').valid()) {
            billingAddressValid = false;
        }
        if (!$('input[name="billing_street"]').valid()) {
            billingAddressValid = false;
        }
        if (!$('input[name="billing_city"]').valid()) {
            billingAddressValid = false;
        }
        if (!$('input[name="billing_zip"]').valid()) {
            billingAddressValid = false;
        }
        if (!$('input[name="billing_phone"]').valid()) {
            billingAddressValid = false;
        }
        if (billingAddressValid) {
            $("#paymentButton").click();
            $("#editButtonBillingAddress").removeClass("d-none");
        }
    });

    $("#paymentSubmitButton").on("click",function(){
        if ($("input[name='payment']:checked").val() == undefined) {
            $("#paymentError").removeClass("d-none");
        }
    });


    $("label input").on("focus blur",function(){
        $(this).parent().parent().toggleClass("focused").toggleClass("border-hover");
    });

    $("#sameAsBilling").on("change",function(){
        if($(this).is(":checked")) {
            //fill billing address with delivery address
            $('input[name="billing_name"]').val($('input[name="delivery_name"]').val());
            $('input[name="billing_street"]').val($('input[name="delivery_street"]').val());
            $('input[name="billing_city"]').val($('input[name="delivery_city"]').val());
            $('input[name="billing_zip"]').val($('input[name="delivery_zip"]').val());
            $('input[name="billing_phone"]').val($('input[name="delivery_phone"]').val());
           // $("#billingAddress").toggle("hidden");
            $("#deliveryAddressSubmitButton").val("Pokračovat na platební metodu");
        } else {
            $("#billingAddress").toggle("hidden");
            $("#deliveryAddressSubmitButton").val("Pokračovat na fakturační adresu");
        }
    });

    $("#editButtonEmail").on("click", function(){
        $("#emailButton").click();
    })

    $("#editButtonDelivery").on("click", function(){
        $("#deliveryButton").click();
    })

    $("#editButtonDeliveryAddress").on("click", function(){
        $("#deliveryAddressButton").click();
    })

    $("#editButtonBillingAddress").on("click", function(){
        $("#billingAddressButton").click();
    })

    $("#editButtonPayment").on("click", function(){
        $("#paymentButton").click();
    })

    var orderTotal = {$cart->getTotalPrice()};
    //calculate total and totalWihtoudDph and dph
    function calculateTotalAndDph(orderTotal) {
        var total = orderTotal + parseInt($("#deliveryPrice").html()) + parseInt($("#paymentPrice").html());
        var totalWithoutDph = total / 1.21;
        var dph = total - totalWithoutDph;
        $("#total").html((Math.round(total)).toLocaleString());
        $("#totalWithoutDph").html((Math.round(totalWithoutDph)).toLocaleString());
        $("#dph").html((Math.round(dph)).toLocaleString());
    }

    // change price of delivery based on selected delivery method
    $("input[name='delivery']").on("change",function(){
        if(($("input[name='delivery']:checked")).val() != undefined) {
            $("#deliveryError").addClass("d-none");
            $("#deliveryError").removeClass("error-message");
        }
        var deliveryMethod = $("input[name='delivery']:checked").val();
        var deliveryPrice = $(this).data("value");
        if (orderTotal > 20000) {
            $("#deliveryPrice").html(0);
        } else {
            $("#deliveryPrice").html(deliveryPrice);
        }
        calculateTotalAndDph(orderTotal);
    });

    // change price of payment based on selected payment method
    $("input[name='payment']").on("change",function(){
        if(($("input[name='payment']:checked")).val() != undefined) {
            $("#paymentError").addClass("d-none");
            $("#paymentError").removeClass("error-message");
        }
        var paymentMethod = $("input[name='payment']:checked").val();
        var paymentPrice = $(this).data("value");
        $("#paymentPrice").html(paymentPrice);
        calculateTotalAndDph(orderTotal);
    });

    //pokud je uživatel přihlášen, schová se formulář pro zadání emailu a otevře se formulář pro zadání adresy
    {if $user->isLoggedIn()}
        $("#collapseTwo").collapse("show");
        $("#collapseOne").collapse("hide");
    {/if}
});
</script>
