{varType App\Model\Entities\OrderDetail $order}   
{varType App\Model\Entities\Cart $cart}

{var $totalWithoutDph = $cart->getTotalPrice() / 1.21}
{var $totalDph = $cart->getTotalPrice() - $totalWithoutDph}

{block content}

<div class="container">
    <div class="row">
        <div class="col-8 pl-0">
            <div id="accordion">
                <div id="email" class="card border-0 shadow h6 text-small">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Emailová adresa
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form n:name=emailForm>
                                <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše emailová adresa?</label>
                            <!-- TODO check přihlášení -->
                                <div class="form-group">
                                    <label class="h6 text-small mb-3 text-center">Pro pokračování jako host vyplňte svoji emailovou adresu. Nebo se <a href="{plink User:login}">přihlašte</a> do svého účtu.</label>
                                    <label n:name=email for="email">Emailová adresa</label>
                                    <input n:name=email type="text" class="form-control" id="email">
                                </div>
                                <div>
                                    <input type="button" id="emailSubmitButton" n:name=submit class="btn btn-primary w-100">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="delivery" class="card border-0  shadow h6 text-small">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button id="deliveryButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Způsob dopravy
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <form n:name=deliveryForm>
                                <div class="form-group">
                                    <label class="h4 mb-3 mt-2 pb-2 pt-1" n:name="delivery:$key" for="delivery:$key">Jak chcete objednávku doručit?</label>

                                    {foreach $form[delivery]->getItems() as $key => $label}
                                        <label class="w-100 mb-1 p-4 border border-1 border-hover border-light rounded my-2">
                                                <div class="d-flex align-middle align-items-center">
                                                    <input class="mr-4" type="radio" n:name="delivery:$key" id="delivery:$key">
                                                    <span class="mr-auto">
                                                        <div class="text-primary">{$label}</div>
                                                        <div class="text-small"><strong>Doručení do 2 dnů</strong></div>
                                                    </span>
                                                    <span class="ml-auto text-primary">123 Kč</span>
                                                </div>
                                        </label>
                                    {/foreach}
                                </div>
                                <div>
                                    <input type="button" id="deliverySubmitButton"  n:name=submit class="btn btn-primary w-100">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="deliveryAddress" class="card border-0 shadow h6 text-small">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button id="deliveryAddressButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Doručovací adresa
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <form id="deliveryAddressForm" n:name=deliveryAddressForm>
                                <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše doručovací adresa?</label>
                                <div class="form-group pb-2">
                                    <label n:name=name for="name">Jméno a přijmení</label>
                                    <input n:name=name type="text" class="form-control" id="name">
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=street for="street">Ulice a číslo</label>
                                        <input n:name=street type="text" class="form-control" id="street">
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=city for="city">Město</label>
                                        <input n:name=city type="city" class="form-control" id="city">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=zip for="zip">PSČ</label>
                                        <input n:name=zip type="text" class="form-control" id="zip">
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=phone for="phone">Telefon</label>
                                        <input n:name=phone type="text" class="form-control" id="phone">
                                    </div>
                                </div>

                                <div class="d-flex align-middle align-items-center pb-4">
                                    <input class="mr-2" type="checkbox"  n:name="sameAsBilling" id="sameAsBilling">
                                    <label class="form-check-label" for="sameAsBilling">
                                        Fakturační adresa je stejná jako doručovací
                                    </label>
                                </div>
                                
                                <div>
                                    <input type="button" id="deliveryAddressSubmitButton" n:name=submit class="btn btn-primary w-100">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow h6 text-small" id="billingAddress">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button id="billingAddressButton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Fakturační adresa
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <form id="billingAddressForm" n:name=billingAddressForm>
                                <label class="h4 mb-3 mt-2 pb-2 pt-1">Jaká je vaše fakturační adresa?</label>
                                <div class="form-group pb-2">
                                    <label n:name=name for="name">Jméno a přijmení</label>
                                    <input n:name=name type="text" class="form-control" id="name">
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=street for="street">Ulice a číslo</label>
                                        <input n:name=street type="text" class="form-control" id="street">
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=city for="city">Město</label>
                                        <input n:name=city type="city" class="form-control" id="city">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=zip for="zip">PSČ</label>
                                        <input n:name=zip type="text" class="form-control" id="zip">
                                    </div>
                                    <div class="col-6 form-group pb-2">
                                        <label n:name=phone for="phone">Telefon</label>
                                        <input n:name=phone type="text" class="form-control" id="phone">
                                    </div>
                                </div>
                                
                                <div>
                                    <input type="button" id="billingAddressSubmitButton" n:name=submit class="btn btn-primary w-100">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="payment" class="card border-0 shadow h6">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button id="paymentButton"class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Platební metoda
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <form id="paymentForm" n:name=paymentForm>
                                <div class="form-group">
                                    <label class="h4 mb-3 mt-2 pb-2 pt-1" n:name="payment:$key" for="payment:$key">Jak budete platit?</label>

                                    {foreach $form[payment]->getItems() as $key => $label}
                                        <label class="w-100 mb-1 p-4 border border-1 border-hover border-light rounded my-2">
                                                <div class="d-flex align-middle align-items-center">
                                                    <input class="mr-4" type="radio" n:name="payment:$key" id="delivery:$key">
                                                    <span class="mr-auto">
                                                        <div class="text-primary">{$label}</div>
                                                    </span>
                                                    <span class="ml-auto text-primary">123 Kč</span>
                                                </div>
                                        </label>
                                    {/foreach}
                                </div>
                                <div>
                                    <input type="button" id="paymentSubmitButton" n:name=submit class="btn btn-primary w-100">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="col-4 shadow">
            <div class="d-flex flex-row py-4">
                <div class="d-flex table-row mr-auto h4 font-weight-bold">Shrnutí</div>
                <a class="d-flex table-row h6 back-to-cart align-items-center text-right" href="{plink Cart:default}">Zpět do košíku</a>
            </div>
            {foreach $cart->items as $item}
                <div class="d-flex flex-row py-2">
                    <div class="d-flex col-2">
                        {if count($item->product->photos) == 0}
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="{$basePath.'/img/products/placeholder.png'}" alt="placeholder" class="d-block w-100">
                            </div>
                        {/if}
                        {foreach $item->product->photos as $photo}
                            {if $photo->isThumbnail}
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="{$basePath.'/img/products/'.$photo->productPhotoId.'.'.$photo->photoExtension}" alt="{$item->product->title}" class="d-block w-100">
                                </div>
                            {/if}
                        {/foreach}
                    </div>
                    <div class="d-flex col-5 align-items-center">
                        <div class="h6 title mb-0">{$item->product->title} Pro</div>
                    </div>
                    <div class="d-flex col-5 align-items-center justify-content-end">
                        <div class="h6 mb-0 font-weight-bold justify-content-end">
                            {if $item->count > 1}
                                {$item->count} * 
                            {/if}
                            {$item->product->price|number:0,',',' '} Kč
                        </div>
                    </div>
                </div>
                <hr />
            {/foreach}
            <table class="h6 table table-borderless">
                    <tr>
                        <td class="col-8">Doprava</td>
                        <td class="col-4 text-right">0 Kč</td>
                    </tr>
                    <tr>
                        <td class="col-8">DPH</td>
                        <td class="col-4 text-right">{$totalDph|number:0,',',' '} Kč</td>
                    </tr>
                    <tr>
                        <td class="col-8">Celkem (bez DPH)</td>
                        <td class="col-4 text-right">{$totalWithoutDph|number:0,',',' '} Kč</td>
                    </tr>
                </tbody>
            </table>
            <table class="table pt-2 mb-0 h5">
                <tbody>
                    <tr>
                        <td class="py-4 col-8 h6"><strong>Cena objednávky s DPH<strong></td>
                        <td class="py-4 col-4 h6 text-right"><strong>{$cart->getTotalPrice()|number:0,',',' '} Kč<strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style scoped>
.back-to-cart {
    text-decoration:none !important;
    font-size: 13px !important;
}

.border-1 {
    border-width:2px !important;
    border-color: #f0f0f0 !important;
}

.focused {
    border-color: #0275d8 !important;
}

.border-hover:hover {
    border-color:#dedede !important;
}

.text-small {
    font-size: 14px;
}

.title {
    font-size: 14px;
}

.table-row {
    padding: 0.75rem;
}

</style>

<script scoped>
$("label input").on("focus blur",function(){
    $(this).parent().parent().toggleClass("focused").toggleClass("border-hover");
});

$("#sameAsBilling").on("change",function(){
    if($(this).is(":checked")) {
        $("#billingAddress").toggle("hidden");
        $("#deliveryAddressSubmitButton").val("Pokračovat na platební metodu");
    } else {
        $("#billingAddress").toggle("hidden");
        $("#deliveryAddressSubmitButton").val("Pokračovat na fakturační adresu");
    }
});

$("#emailSubmitButton").on("click",function(){
   $("#deliveryButton").click();
});

$("#deliverySubmitButton").on("click",function(){
   $("#deliveryAddressButton").click();
});

$("#deliveryAddressSubmitButton").on("click",function(){
    if ($("#sameAsBilling").is(":checked")) {
        $("#paymentButton").click();
    } else {
        $("#billingAddressButton").click();
    }
});

$("#billingAddressSubmitButton").on("click",function(){
   $("#paymentButton").click();
});


</script>
