{varType App\Model\Entities\Cart $cart}
{snippet}
  <div>
      {var $cartTotalCount = $cart->getTotalCount();}
      <a class="btn" href="{plink Cart:default}">
        <i class="fa fa-shopping-cart text-dark h2"></i>
        <span class='badge badge-primary rounded-circle ml-n2 top-0'> {$cartTotalCount} </span>
      </a> 
  </div>
{/snippet}