{snippet}
  <div {if !empty($class)}class="{$class}"{/if}>
    {if $user->isLoggedIn()}
      <strong>{$user->identity->name}</strong>
      -
      <a href="{link logout!}"><i class="fa fa-right-from-bracket text-dark h2"></i></a>
    {else}
      <a href="{link login!}"><i class="fa fa-user text-dark h2"></i></a>
    {/if}
  </div>
{/snippet}