{varType App\Model\Entities\Product $product}
{block content}

<h1 n:block="title">Úprava produktu {$product->title}</h1>

<!--img src="{*$basePath.'/img/products/'.$product->productId.'.'.$product->photoExtension*}" alt="{*$product->title*}" width="250" height="312"-->

{control productEditForm}